
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: fit-max;
  /*text-align: center;*/
}

.App-logo {
  height: 1vmin;
  pointer-events: none;
  font-size: 36px;
}

menu {

}

nav-link {

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   background-color: #EF8E87;
   color: #F7F7F7;
}

.nav-link a {
  color: #ffffff;
}

.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}

.menu li {
  padding: 5px 14px;
}

.menu li:hover {
  background-color: #fc9d95;
  border-radius: 5px;
  transition: 0.3s ease;
}

/*  ActivitiesSearch */
.activities-search, .tasks-search {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 8px;
  font-size: 26px;
  color: #626261;

}

.activities-search input, .tasks-search input {
  box-sizing: border-box;
  border-radius: 4px;
  border-style: solid;
  padding: 6px;
  margin: 2px 0px 0 16px;
  font-size: 18px;
  width: 80%;
}

.activities-search button {
  box-sizing: border-box;
  padding: 6px 10px;
  margin: 2px 8px 0 3px;
  background: #dddddd;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.activities-search button:hover, .search-results button:hover {
  background-color: #aaa;
  transition: 0.3s ease;
}

.search-results {
  display: block;
  text-align: center;
  text-transform: capitalize;
  margin-top: 8px;
  font-size: 18px;
  font-size: 26px;
  color: #626261;
}

.search-results input {
  box-sizing: border-box;
  border-radius: 5px;
  border-style: solid;
  margin: 8px 0px 8px 8px;
  padding: 6px;
  font-size: 18px;
}

.search-results button {
  box-sizing: border-box;
  padding: 6px 10px;
  margin: 2px 8px 0 3px;
  background: #dddddd;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Remove extra left and right margins, due to padding */
.row {
  display: block;
  text-align: center;
  margin-top: 8px;
  /*font-size: 18px;*/
  /* border:solid; */
}

.activities-card {
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  width: 25%;
  margin: 5px 5px;
  padding: 5px 0px 5px 0px;
  background: linear-gradient(to bottom left, #72d4d4 50%, #63B7B7 100%);
  /* border:solid; */
}

.tasks-card {
 box-sizing: border-box;
 border-radius: 5px;
 display: inline-block;
 width: 25%;
 margin: 5px 5px;
 padding: 5px 0px 5px 0px;
 background: linear-gradient(to bottom left, #71a1d1 50%, #638DB7 100%);
 text-transform: capitalize;

 /* border:solid; */

}

.tasks-labels {
  text-decoration: none;
  text-transform: capitalize;
  color: #f7f7f7;
}

.txt-label {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 0px 8px 0px 8px;
  color: #f7f7f7;
}

.txt-label-title, .tasks-title {
  font-size: 36px;
  color: #f7f7f7;
}

.txt-label button, .tasks-title button {
  background: #dddddd;
  width: 20px;
  border: none;
  border-radius: 5px;
}


/*



*/
